[submodule "themes/apollo"]
	path = themes/apollo
	url = git@github.com:ender503/hexo-theme-apollo.git

[submodule "themes/next"]
	path = themes/next
	url = git@github.com:ender503/hexo-theme-next.git
